.p-16 {
    padding: 16px;
}

.py-16 {
    padding: 16px 0;
}

.py-8 {
    padding: 8px 0;
}

.detail-navigation-buttons {
    flex-wrap: wrap;
    justify-content: space-between;
}

.detail-button-container {
    flex: 1 0 50%;
}

.button-center {
    justify-content: center;
    align-content: center;
}

.button-width {
    width: 136px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.image-container {
    padding-right: 16px;
    width: 200px;
    flex-wrap: wrap;
}

.detail-body {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
}

.flex-100 {
    flex: 0 0 100%;
}

.pb-16 {
    padding-bottom: 16px;
}

.detail-description-wrap {
    flex: 0 0 auto;
}

.detail-navigation-buttons {
    flex: 0 1 100%;
}

.button-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.button-link {
    flex: 0 0 auto;
}