.full-width {
    width: 100%;
}

.project-panel {
    height: 100%;
}

.flex-100 {
    flex: 0 0 100%;
}

.flex-33 {
    flex: 0 0 33%;
}
.flex-row-container {
    display: flex;
    flex-flow: row wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-right {
    justify-content: flex-end;
    align-items: center;
}

.flex-left {
    justify-content: flex-start;
    align-items: center;
}

.flex-space {
    justify-content: space-between;
}

.link-button-container {
    flex: 0 0 auto;
}

.link-button {
    width: 112px;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.p-16 {
    padding: 16px;
}

@media (max-width: 420px) {
    .flex-left,.flex-right {
        justify-content: space-around;
    }
}