<div class="full-width project-panel">
    <header class="project-header">{{feature.title}}</header>
    <div class="flex-row-container p-16">
        <div class="flex-100">{{feature.description}}</div>
        <div class="flex-100 flex-row-container py-16">
            <mat-chip-list class="">
                <mat-chip class="" color="accent" selected *ngFor="let tag of feature['tags'];index as i">
                    {{feature.tags[i]}}
                </mat-chip>
            </mat-chip-list>
        </div>
        <div class="flex-100 flex-row-container">
            <div class="flex-50 flex-row-container flex-center">
                <a class="link-button" href="{{feature.code_url}}">
                    <button mat-raised-button color="accent">See Code</button>
                </a>
            </div>
            <div class="flex-50 flex-row-container flex-center">
                <a class="link-button" href="{{feature.proj_url}}">
                    <button mat-raised-button color="accent">See it Live</button>
                </a>
            </div>
        </div>
    </div>
</div>