<footer class="footer-wrapper">
    <div class="alignment-container">
        <div class="personal-copy flex-50">All content on this page ©2020 by me, Michael Juntunen.  Social media logos are the property of their respective companies (GitHub, Facebook, Twitter, and LinkedIn) and used per their guidelines.</div>
        <div class="credits flex-50"><a class="flex-align" href="https://angular.io/"><img class="icon-img" src="../../../../assets/angular_solidBlack.png"></a><div class="flex-align credits"><span class="flex-align">This application was created using Angular 9.0 and the Angular CLI.  <a class="footer-link" href="https://angular.io">Learn Angular</a></span></div></div>
    </div>
</footer>