<div class="welcome-page-wrapper">
    <div class="welcome-landing">Large Landing area</div>
    <div class="project-highlight-wrapper p-16">
        <app-project-highlight *ngIf="featureids != []" [highlightid]="0"></app-project-highlight>
        <mat-spinner *ngIf="featureids === []" diameter="300"></mat-spinner>
    </div>
    <div class="project-highlight-wrapper p-16">
        <app-project-highlight *ngIf="featureids != []" [highlightid]="1"></app-project-highlight>
        <mat-spinner *ngIf="featureids === []" diameter="300"></mat-spinner>
    </div>
    <div *ngIf="featureids[2]" class="project-highlight-wrapper p-16">
        <app-project-highlight *ngIf="featureids != []" [highlightid]="2"></app-project-highlight>
        <mat-spinner *ngIf="featureids === []" diameter="300"></mat-spinner>
    </div>
</div>