.welcome-page-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.p-16 {
    padding: 16px;
}

.welcome-landing {
    flex: 0 0 100%;
    box-sizing: border-box;
    max-width: 400px;
    // min-height: 500px;
}

.project-highlight-wrapper {
    flex: 0 0 100%;
    min-height: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

// for if i want to return to 3 highlights
// @media (min-width: 1000px) {
@media (min-width: 850px) {
    .project-highlight-wrapper {
        flex: 1 0 33%;
    }
}

.p-16 {
    padding: 16px;
}