<div class="login-wrapper">
    <div class="login-panel">
        <div class="login-field">
            <mat-form-field class="login-text">
                <mat-label for="password">Do you know?</mat-label>
                <input matInput [(ngModel)]="password">
            </mat-form-field>
        </div>
        <div class="login-field login-button-wrapper">
            <div class="login-button-field">
                <button class="login-button" mat-raised-button color="primary" (click)="login()">Login</button>
            </div>
        </div>
    </div>
</div>