.menu-container {
    flex: 0 0 20%
}

.mobile-menu-wrap {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 2;
    width: 24px;
    height: 24px;
}

.mobile-menu {
    position: sticky;
    height: 24px;
    width: 24px;
    padding: 0;
    cursor: pointer;
}

.project-summary-container {
    flex: 1 1 80%;
}

.projects-overview-wrapper {
    display: flex;
    flex-flow: row nowrap;
}