<div class="mobile-menu-wrap">
    <a [matMenuTriggerFor]="mobilemenu" class="mobile-menu" *ngIf="mobileQuery.matches">
        <mat-icon>menu</mat-icon>
    </a>
    <mat-menu #mobilemenu="matMenu">
        <button mat-menu-item *ngFor="let project of projectlist"
            (click)="projnav(project.id)">{{project.title}}</button>
    </mat-menu>
</div>
<div class="projects-overview-wrapper">
    <div class="menu-container" *ngIf="!mobileQuery.matches">
        <app-project-menu></app-project-menu>
    </div>
    <div class="project-summary-container">Placeholder project data</div>
</div>