.admin-field {
    flex: 0 0 50%;
    padding: 8px 0;
}

.admin-text-field {
    flex: 0 0 100%;
    padding: 8px 0;
}

.admin-text-mod-field {
    flex: 0 0 50%;
    padding: 8px 0;
}

.admin-mod-select {
    flex: 0 0 50%;
    padding: 8px 0;
}


.admin-url-field {
    flex: 0 0 50%;
    padding: 8px 0;
}

.admin-wrapper {
    padding: 16px;
    display: flex;
    flex-flow: row wrap;
    // justify-content: space-between;
}

.admin-text {
    width: 100%;
    max-width: 750px;
    min-height: 150px;
}

.admin-toggle {
    flex: 0 0 33%;
    max-width: 220px;
}

.toggle-button-container {
    display: flex;
    flex-direction: row;
    flex: 0 1 660px;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.toggle-button {
    flex: 0 0 100px;
}

.toggle-button-wrapper {
    max-width: 660px;
    display: flex;
    flex-direction: row;
}

.admin-text-length {
    width: 350px;
}

.admin-summary-length {
    width: 750px;
    overflow: auto;
    min-height: 50px;
}