.admin-field {
    flex: 0 0 50%;
    padding: 16px 0;
}

.admin-text-field {
    flex: 0 0 100%;
    padding: 16px 0;
}

.admin-text-mod-field {
    flex: 0 0 50%;
    padding: 16px 0;
}

.admin-mod-select {
    flex: 0 0 50%;
    padding: 16px 0;
}


.admin-url-field {
    flex: 0 0 50%;
    padding: 16px 0;
}

.admin-wrapper {
    padding: 16px;
    display: flex;
    flex-flow: row wrap;
    // justify-content: space-between;
}

.admin-text {
    width: 100%;
    max-width: 750px;
    min-height: 180px;
}