<div class="admin-wrapper">
    <div class="admin-field">
        <mat-form-field>
            <mat-label for="projectname">Project Title</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="admin-field">
        <mat-form-field>
            <mat-label for="summary">Project Summary</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="admin-field">
        <mat-form-field>
            <mat-label for="description">Project Description</mat-label>
            <textarea matInput rows="8" cols="80"></textarea>
        </mat-form-field>
    </div>
    <div class="admin-field">
    <button mat-raised-button color="accent">Submit</button>
    </div>
</div>