<div class="flex-row">
    <div class="p-16 flex-responsive">
        <div class="project-panel">
            <div class="project-header">Introduction</div>
            <div class="panel-content panel-with-image">
                <div class="holds-image">
                    <img class="image" src="../../assets/msj-headshot-200px.jpg">
                </div>
                Hello there! I am Mike Juntunen, a developer trained in full-stack web development. I learned to
                code at the Midland University Code Academy, a full-time intensive coding program in Omaha, Nebraska.
                Prior to my career change, I spent 8 years at FedEx Office as a manager in their printing and shipping
                business. I particularly enjoy finding creative solutions or implementations to problems that can be
                customized and re-used in the future. As an example, the projects section of this website utilizes a
                database, where I can add, delete or modify which projects I highlight dynamically without having to
                re-write or edit the website itself at all. You can how I did that over in the Projects section.
            </div>
        </div>
    </div>
    <div class="p-16 flex-responsive">
        <div class="project-panel">
            <div class="project-header">Skills</div>
            <div class="panel-content">
                As a programmer, my trainining at Midland has taught me a great deal about:
                <ul>
                    <li>HTML, CSS and JavaScript</li>
                    <li>The Angular Framework and TypeScript</li>
                    <li>node.js & node package manager</li>
                    <li>Common node packages (express, node.pg, passport, mongoose, etc</li>
                    <li>RESTful API creation and use</li>
                    <li>Containerization</li>
                    <li>The basics of unit and e2e testing</li>
                </ul>
                My previous career also provided me with a number of reusable skills:
                <ul>
                    <li>Basic HR adminstration (payroll, scheduling, interviewing, hiring, etc)</li>
                    <li>Very strong consultative and communication skills</li>
                    <li>A great deal of experience managing many competing deadlines</li>
                </ul>
                Lastly, but probably most importantly, I am a fast learner: I usually need only a few repetitions of a
                task in order to learn and remember how it works for future use. This proved vital to my success during
                Midland's intensive code academy, and has always been one of my greatest strengths.
            </div>
        </div>
    </div>
    <div class="p-16 flex-responsive">
        <div class="project-panel">
            <div class="project-header">Background</div>
            <div class="panel-content">
                I am originally from Michigan's Upper Peninsula, and as a young child travelled around the United States
                for a few years while my father was an officer in the United States Air Force. I attended the University
                of Iowa before I relocated to the Omaha area, and during my 8 years with FedEx, I relocated for several
                years
                to Sioux Falls, SD before returning in 2017. My time at FedEx gave me a great deal of experience in
                direct
                consultation with customers and the logistics of order fulfillment, as well as a great deal of practical
                experience with the administrative duties of management.  In 2019, I left FedEx out of the desire to get
                out of the retail environment, and found the opportunity offered by Midland's Code Academy.
            </div>
        </div>
    </div>
    <div class="p-16 flex-responsive">
        <div class="project-panel">
            <div class="project-header">Other Interests</div>
            <div class="panel-content">
                In my personal life, I have a variety of hobbies and interests. I have been a video gamer my entire
                life,
                playing everything from massively-multiplayer games to single player console and PC games. I tend to
                most
                enjoy and prefer role-playing and action role-playing games, like Skyrim, Fallout and the Witcher.

                I am also an ardent baseball fan (of the Los Angeles Dodgers), and I am very knowledgable of modern
                baseball
                analytics (sabermetrics). I quite enjoy digging into the advanced analytical statistics and finding
                trends or
                items of interest before they've been noticed by the general public. I have begun to expand my
                programming
                knowledge to R, where most baseball analytics are done, in order to do more in this area.
            </div>
        </div>
    </div>
</div>