<div class="flex-row">
    <div class="p-16 flex-responsive">
        <div class="project-panel">
            <div class="project-header">Introduction</div>
            <div class="panel-content panel-with-image">
                <div class="holds-image">
                    <img class="image" src="../../assets/msj-headshot-200px.jpg">
                </div>
                Other text that exists to test out text wrapping with the photo here. Other text that exists to test out
                text wrapping with the photo
                here. Other text that exists to test out text wrapping with the photo here. Other text that exists
                to test out text wrapping with the photo here. Other text that exists to test out text wrapping with
                the photo here. Other text that exists to test out text wrapping with the photo here. Other text
                that exists to test out text wrapping with the photo here. Other text that exists to test out text
                wrapping with the photo here. Other text that exists to test out text wrapping with the photo here.
            </div>
        </div>
    </div>
    <div class="p-16 flex-responsive">
        <div class="project-panel">
            <div class="project-header">Skills</div>
            <div class="panel-content">
                    Other text that exists to test out
                    text wrapping with the photo here. Other text that exists to test out text wrapping with the photo
                    here. Other text that exists to test out text wrapping with the photo here. Other text that exists
                    to test out text wrapping with the photo here. Other text that exists to test out text wrapping with
                    the photo here. Other text that exists to test out text wrapping with the photo here. Other text
                    that exists to test out text wrapping with the photo here. Other text that exists to test out text
                    wrapping with the photo here. Other text that exists to test out text wrapping with the photo here.
            </div>
        </div>
    </div>
    <div class="p-16 flex-responsive">
        <div class="project-panel">
            <div class="project-header">Background</div>
            <div class="panel-content">
                    Other text that exists to test out
                    text wrapping with the photo here. Other text that exists to test out text wrapping with the photo
                    here. Other text that exists to test out text wrapping with the photo here. Other text that exists
                    to test out text wrapping with the photo here. Other text that exists to test out text wrapping with
                    the photo here. Other text that exists to test out text wrapping with the photo here. Other text
                    that exists to test out text wrapping with the photo here. Other text that exists to test out text
                    wrapping with the photo here. Other text that exists to test out text wrapping with the photo here.
            </div>
        </div>
    </div>
    <div class="p-16 flex-responsive">
        <div class="project-panel">
            <div class="project-header">Other Interests</div>
            <div class="panel-content">
                    Other text that exists to test out
                    text wrapping with the photo here. Other text that exists to test out text wrapping with the photo
                    here. Other text that exists to test out text wrapping with the photo here. Other text that exists
                    to test out text wrapping with the photo here. Other text that exists to test out text wrapping with
                    the photo here. Other text that exists to test out text wrapping with the photo here. Other text
                    that exists to test out text wrapping with the photo here. Other text that exists to test out text
                    wrapping with the photo here. Other text that exists to test out text wrapping with the photo here.
            </div>
        </div>
    </div>
</div>